var dateUtil = (function() {
  function chineseDateStr(dateStr) {
    return dateStr.replace(".", "月") + "日"
  }
  var formatTime = function(date) {
    var date = getDate(date); //返回当前时间对象
    var year = date.getFullYear()
    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
    var day = date.getDate() + 1 < 10 ? "0" + (date.getDate()) : date.getDate()
    return [year, month, day].join('-')
  }
  var formatTimec = function(date) {
    var date = getDate(date); //返回当前时间对象
    var year = date.getFullYear()
    var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1
    var day = date.getDate() + 1 < 10 ? "0" + (date.getDate()) : date.getDate()
    return [year, month, day].join('.')
  }
  var formatTimes = function(date) {
    var dates = getDate(date); //返回当前时间对象
    var year = dates.getFullYear()
    var month = dates.getMonth() + 1 < 10 ? "0" + (dates.getMonth() + 1) : dates.getMonth() + 1
    var day = dates.getDate() + 1 < 10 ? "0" + (dates.getDate()) : dates.getDate()
    return [year, month, day].join('.')
  }
  var getDates = function(date) {
    var date = getDate(date);
    var y = date.getFullYear()
    var m = date.getMonth() + 1
    var d = date.getDate()
    var h = date.getHours()
    var minutes = date.getMinutes()
    var seconds = date.getSeconds()

    m = m < 10 ? '0' + m:m
    d = d < 10 ? '0' + d:d
    h = h < 10 ? '0' + h:h
    minutes = minutes < 10 ? '0' + minutes:minutes
    seconds = seconds < 10 ? '0' + seconds:seconds
    var times = y + '.' + m + '.' + d + ' ' + h + ':' + minutes + ':' + seconds
    return times;
  }
  var getHours = function(date) {
    var date = getDate(date);
    var times = (date.getHours() < 10 ? "0" + (date.getHours()) : date.getHours()) + ':' + (date.getMinutes() < 10 ? "0" + (date.getMinutes()) : date.getMinutes());
    console.log(times)

    return times;
  }

  var getMonthDates = function(date) {
    var date = getDate(date);
    var times = (date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1) + '月' + (date.getDate() < 10 ? "0" + (date.getDate()) : date.getDate()) + '日  ' + (date.getHours() < 10 ? "0" + (date.getHours()) : date.getHours()) + ':' + (date.getMinutes() < 10 ? "0" + (date.getMinutes()) : date.getMinutes());
    return times;
  }



  // 比较传入时间与现在时间的大小 传入时间大则返true 否则返回false
  function compareWithCurrentTime(date, hour, minute, time) {
    var timeArr = time.split(":")
    var timeHour = timeArr[0]
    var timeMinute = timeArr[1]
    if (hour < timeHour) {
      return true
    } else if (hour == timeHour) {
      if (minute < timeMinute) {
        return true
      } else {
        return false
      }
    } else {
      return false
    }
  }


  return {
    getMonthDates: getMonthDates,
    chineseDateStr: chineseDateStr,
    formatTimec: formatTimec,
    formatTime: formatTime,
    getDates: getDates,
    formatTimes: formatTimes,
    getHours: getHours,
    compareWithCurrentTime: compareWithCurrentTime
  }
})()



module.exports = dateUtil;